#mainContainer {
  margin-top: 30px;
}

#today {
  margin-top: 20px;
}

.dateField {
  float: right;
}

.myTable {
  margin-bottom: 0px;
}

td {
  text-align: center;
}

p.signature {
  margin-top: 100px;
  opacity: 50%;
}

div.card-header {
  padding: 0px;
}
